<div class="wrapper {{ theme }}">
  <div class="vaman-box" *ngIf="visible" [@fadeInOut]="visible">
    <div class="vaman-box-header">
      <div class="">
        <div class="operator-status">
          {{ operator.status }}
          <span class="operator-status-online">●</span>
        </div>
        <vaman-avatar [image]="operator.avatar"></vaman-avatar>
        <h3 class="operator-name">
          {{ operator.name }}
        </h3>
        <p class="conversation-restart">
          Type "TOPICS" anytime to restart conversation
        </p>
      </div>
    </div>
    <div class="vaman-box-main">
      <div class="vaman-message-bottom" #bottom></div>
      <ng-container *ngFor="let message of messages">
        <div class="vaman-message" [class.vaman-message-received]="message.type === 'received'" [@fadeIn]
          [class.vaman-message-sent]="message.type === 'sent'">
          <div>
            <vaman-avatar [image]="message.from.avatar" class="vaman-message-from-avatar"></vaman-avatar>
            <div [appVamanMarkedDown]="message.text" class="vaman-message-text"></div>
          </div>
          <div class="vaman-message-date">
            {{ message.date | date: "short" }}
          </div>
          <div class="vaman-quick-replies">
            <div *ngFor="let reply of message.quick_replies" (click)="
                sendMessage({
                  message: reply.title,
                  quick_reply: reply.payload
                })
              ">
              <div>{{ reply.title }}</div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="vaman-box-footer">
      <vaman-input (send)="sendMessage($event)" (dismiss)="toggleChat()" [focus]="focus" [inputText]="inputText">
      </vaman-input>
    </div>
  </div>
  <!-- <button class="vaman-button" (click)="toggleChat()">
    <span [@fadeIn] *ngIf="visible">✕</span>
    <span [@fadeIn] *ngIf="!visible">?</span>
  </button> -->
</div>
<div class="topics-container">
  <div class="topics-list">
    <div class="topics-header">
      TOPICS TO ASK FOR
    </div>
    <div class="topics" *ngFor="let topic of topics" (click)="showSubTopics(topic)">
      <div>
        <div>{{ topic }}</div>
        <!-- <span><fa name="chevron-right"></fa></span> -->
      </div>
    </div>
  </div>
  <div class="web-topics-list" *ngIf="showTopic">
    <div class="web-topics-header" (click)="closeSubTopic()">
      <span>
        <fa name="chevron-left"></fa>
      </span>
      {{ this.selectedTopic | uppercase  }}
    </div>
    <div class="web-sub-topic-list">
      <div class="web-sub-topics" *ngFor="let subTopic of subTopics" (click)="setInputText(subTopic)">
        <div>{{ subTopic }}</div>
      </div>
    </div>
  </div>
</div>
<div class="sub-topic-container">
  <div class="sub-topic-modal" [class.open-modal]="openModalFlag">
    <div class="sub-topic-close-button" (click)="openModalFlag = false">
      <fa name="times"></fa>
    </div>
    <div class="sub-topic-list">
      <div class="sub-topics" *ngFor="let subTopic of subTopics" (click)="setInputText(subTopic)">
        <div>{{ subTopic }}</div>
      </div>
    </div>
  </div>
</div>
<div class="mobile-topic-container" [class.show-side-bar]="openSideBar">
  <div class="mobile-topic-button" (click)="openSideBar = !openSideBar">
    <fa *ngIf="!openSideBar" name="angle-double-right"></fa>
    <fa *ngIf="openSideBar" name="angle-double-left"></fa>
  </div>
  <div class="mobile-topics-container">
    <div class="mobile-topics" *ngFor="let topic of topics" (click)="openModal(topic)">
      <div>{{ topic }}</div>
    </div>
  </div>
</div>